src/wsdl/ComprobanteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/30/2010 12:42 PM(foreman)-. --><definitions name="ComprobanteService" targetNamespace="http://service.unomas.ec/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.unomas.ec/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.unomas.ec/" schemaLocation="ComprobanteService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="upload">
    <part element="tns:upload" name="parameters"/>
  </message>
  <message name="uploadResponse">
    <part element="tns:uploadResponse" name="parameters"/>
  </message>
  <message name="download">
    <part element="tns:download" name="parameters"/>
  </message>
  <message name="downloadResponse">
    <part element="tns:downloadResponse" name="parameters"/>
  </message>
  <message name="changeKey">
    <part element="tns:changeKey" name="parameters"/>
  </message>
  <message name="changeKeyResponse">
    <part element="tns:changeKeyResponse" name="parameters"/>
  </message>
  <message name="changeSignature">
    <part element="tns:changeSignature" name="parameters"/>
  </message>
  <message name="changeSignatureResponse">
    <part element="tns:changeSignatureResponse" name="parameters"/>
  </message>
  <message name="sendDoc">
    <part element="tns:sendDoc" name="parameters"/>
  </message>
  <message name="sendDocResponse">
    <part element="tns:sendDocResponse" name="parameters"/>
  </message>
  <message name="validate">
    <part element="tns:validate" name="parameters"/>
  </message>
  <message name="validateResponse">
    <part element="tns:validateResponse" name="parameters"/>
  </message>
  <portType name="ComprobanteDelegate">
    <operation name="upload">
      <input message="tns:upload" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/uploadRequest"/>
      <output message="tns:uploadResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/uploadResponse"/>
    </operation>
    <operation name="download">
      <input message="tns:download" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/downloadRequest"/>
      <output message="tns:downloadResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/downloadResponse"/>
    </operation>
    <operation name="changeKey">
      <input message="tns:changeKey" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/changeKeyRequest"/>
      <output message="tns:changeKeyResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/changeKeyResponse"/>
    </operation>
    <operation name="changeSignature">
      <input message="tns:changeSignature" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/changeSignatureRequest"/>
      <output message="tns:changeSignatureResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/changeSignatureResponse"/>
    </operation>
    <operation name="sendDoc">
      <input message="tns:sendDoc" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/sendDocRequest"/>
      <output message="tns:sendDocResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/sendDocResponse"/>
    </operation>
    <operation name="validate">
      <input message="tns:validate" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/validateRequest"/>
      <output message="tns:validateResponse" wsam:Action="http://service.unomas.ec/ComprobanteDelegate/validateResponse"/>
    </operation>
  </portType>
  <binding name="ComprobantePortBinding" type="tns:ComprobanteDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="download">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeSignature">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ComprobanteService">
    <port binding="tns:ComprobantePortBinding" name="ComprobantePort">
      <soap:address location="http://localhost:9081/ComprobantesElectronicos/ComprobanteService"/>
    </port>
  </service>
</definitions>