xml-resources/web-service-references/WSElectro/wsdl/compueconomia.com.ec_8080/WSElectro/WSElectro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com/" name="WSElectro">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com/" schemaLocation="http://compueconomia.com.ec:8080/WSElectro/WSElectro?xsd=1"/>
</xsd:schema>
</types>
<message name="getXMLAutorizado">
<part name="parameters" element="tns:getXMLAutorizado"/>
</message>
<message name="getXMLAutorizadoResponse">
<part name="parameters" element="tns:getXMLAutorizadoResponse"/>
</message>
<message name="getFechaAutorizacion">
<part name="parameters" element="tns:getFechaAutorizacion"/>
</message>
<message name="getFechaAutorizacionResponse">
<part name="parameters" element="tns:getFechaAutorizacionResponse"/>
</message>
<message name="searchAuthorization">
<part name="parameters" element="tns:searchAuthorization"/>
</message>
<message name="searchAuthorizationResponse">
<part name="parameters" element="tns:searchAuthorizationResponse"/>
</message>
<message name="receiptXMLIn">
<part name="parameters" element="tns:receiptXMLIn"/>
</message>
<message name="receiptXMLInResponse">
<part name="parameters" element="tns:receiptXMLInResponse"/>
</message>
<portType name="WSElectro">
<operation name="getXMLAutorizado">
<input wsam:Action="http://ws.com/WSElectro/getXMLAutorizadoRequest" message="tns:getXMLAutorizado"/>
<output wsam:Action="http://ws.com/WSElectro/getXMLAutorizadoResponse" message="tns:getXMLAutorizadoResponse"/>
</operation>
<operation name="getFechaAutorizacion">
<input wsam:Action="http://ws.com/WSElectro/getFechaAutorizacionRequest" message="tns:getFechaAutorizacion"/>
<output wsam:Action="http://ws.com/WSElectro/getFechaAutorizacionResponse" message="tns:getFechaAutorizacionResponse"/>
</operation>
<operation name="searchAuthorization">
<input wsam:Action="http://ws.com/WSElectro/searchAuthorizationRequest" message="tns:searchAuthorization"/>
<output wsam:Action="http://ws.com/WSElectro/searchAuthorizationResponse" message="tns:searchAuthorizationResponse"/>
</operation>
<operation name="receiptXMLIn">
<input wsam:Action="http://ws.com/WSElectro/receiptXMLInRequest" message="tns:receiptXMLIn"/>
<output wsam:Action="http://ws.com/WSElectro/receiptXMLInResponse" message="tns:receiptXMLInResponse"/>
</operation>
</portType>
<binding name="WSElectroPortBinding" type="tns:WSElectro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getXMLAutorizado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaAutorizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchAuthorization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiptXMLIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSElectro">
<port name="WSElectroPort" binding="tns:WSElectroPortBinding">
<soap:address location="http://compueconomia.com.ec:8080/WSElectro/WSElectro"/>
</port>
</service>
</definitions>